# --- Global ---
.DS_Store
*.log
.env
.env.*
.vs/

# --- Frontend (React) ---
frontend/node_modules/
frontend/build/
frontend/dist/
frontend/.env

# --- Backend (C# / .NET) ---
backend/orders/bin/
backend/orders/obj/
backend/orders/.vs/
backend/orders/*.user
backend/orders/*.suo
backend/orders/appsettings.Development.json

# --- IDE / Editor ---
.vscode/
.idea/
