.infinite-scroll {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  gap: 30px;
  margin-top: 50px;
}

@media (min-width: 600px) {
  .infinite-scroll {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
  }
}

@media (min-width: 1101px) {
  .infinite-scroll {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
  }
}
